#root,.root-content{
    width: 100%;
    height: 100%;
    /* background-color: #f0f0f0; */
}
.loadings{
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-align{
  text-align: center;
}
input:focus{outline:none}
.content-new{
    height: 500px;
    display:flex;
  }
  .content-new .left{
    width:200px;
    height: 500px;
    background: #eeee;
  }
  .content-new-nav{
      text-align: center;
      margin: 20px;
  }
  .content-new .right{
    margin: 20px;
    flex:1;
    height: 500px;
    background-color: #fff;
  }
  /* Login.js */
  .login{
      margin-top: 80px;
      display: flex;
      justify-content: center;
  }
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .out{
    position: absolute !important;
    right: 0;
    border: none;
  }
  .out :hover ,.out.ant-menu-item-active,.out.ant-menu-item{
    border-bottom: none !important;
  }


  /* VideoDetail.js */
  .video-detail{
    margin: 30px 8%;
  }
  .video-detail-img{
     width: 100%;
  }


  /* ChartList */
  .list-detail{
    margin: 30px 8%;
    display: flex;
    height: 200px;
  }
  .list-img{
     width: 100%;
     height: 200px;
  }


